# Auto detect text files and perform LF normalization
* text=auto

# Ignore 3D files for Github Linguist 
# *.f3d linguist-vendored
*.igs linguist-vendored
*.stp linguist-vendored
*.smt linguist-vendored
*.sat linguist-vendored
*.3mf linguist-vendored
*.stl linguist-vendored
*.dxf linguist-vendored

# Ignore GIf for Linguist
*.gif linguist-vendored

# Cura config Linguist ignore
*.cfg linguist-vendored
*.json linguist-vendored
*.xml linguist-vendored
*.roff linguist-vendored
*.groff linguist-vendored